.taskApp {
  /* Sample */
  /* border: 1px solid red; */
  width: 100%;
  max-width: 380px;
  box-sizing: border-box;
  margin: auto;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  background-color: white;
}
@media (max-width: 500px){
  .taskApp {
    width: 90%;
    margin: auto;
    margin-top: 30px;
  }
}


.pageDiv {
  /* add css  */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
}
.pageDiv > button {
  background-color: #8197e8;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  padding: 5px 10px;
}
.pageDiv > button:hover {
  background-color: #5097e8;
 
}