.light{
  background-color: white;
  color: black;
}
.dark{
  background-color: #202124;
  color: white;
}

.App {
  font-family: sans-serif;
  text-align: center;
  /* border: 1px solid red; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
 
}
.mainContainer{
  width: 700px !important;
  margin: auto;
  margin-top: 50px;
  border: 1px solid #3c4043;
  border-radius: 10px;
}
.container {
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #3c4043;
  padding-top: 20px;
}
.box {
  height: 100%;
  width: 50%;
  /* color: #8ab4f8; */
  /* padding-top: 25px; */
}
.active {
  border-bottom: 2px solid #8ab4f8;
  color: #8ab4f8;
}

.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.navbar img{
  height: 60px;
  width: 60px;
  margin: 5px;
}
.themeBtn{
  border: 1px solid gray;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  
}