#Timer{
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
    align-items: center;
}
input{
    border: 0px solid black;
    font-size: 40px;
    /* width: 20px; */
    max-width: 50px;
    margin: 30px 0px;
}
input:focus{
    outline: none;
}
p{
    font-size: 30px;
}
#TimerContent{
    border: 0px solid black;
    font-size: 40px;
    width: 250px;
    margin: 30px 0px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}